$color :  #da9796;
$font-size: 25px;

.activeLink {
    font-size: $font-size;
    color: blue;
    background-color: $color;
}

.activeLink2 {
    font-size: $font-size;
    color: blue;
    background-color: $color;
}