/*系统默认字体尺寸*/
$font-size-normal: 12px;
$font-size-large: 20px;
$font-size-content-title: 34px;

/*label字体设置*/
$label-normal: 14px;
$label-large: $font-size-large;

/*input height设置*/
$input-normal: 32px;
$input-large: 40px;
$input-font-large: $font-size-large;
$input-font-normal: $font-size-normal;

/*module:login*/
$ml-container-title-font-size: 40px;

/*module:Home*/
$mh-user-name-size:$font-size-large;